*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.apk
*.ap_
*.aab
*.dex
*.class
build/
.idea/
.gradle/
app/build/
data/build/
captures/
outputs/
local.properties
proguard/
*.log
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries/
.idea/caches/
.idea/compiler.xml
.idea/libraries/
.kotlincache/
Thumbs.db
*.ini
*.jks
*.keystore
secrets.properties
*.testreport
~/.gradle/caches/
*.crash
obj/
libs/
